@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v35-cyrillic_latin-regular.woff2') format('woff2'), url('../fonts/open-sans-v35-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v35-cyrillic_latin-700.woff2') format('woff2'), url('../fonts/open-sans-v35-cyrillic_latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v17-cyrillic_latin-700.woff2') format('woff2'), url('../fonts/pt-sans-v17-cyrillic_latin-700.woff') format('woff');
}


.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.navigation__item {
  list-style-type: none;
}

.navigation__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}


.navigation__item:not(first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  width: 149px;
  height: 72px;
  background: url("../img/main-logo-desktop.svg") no-repeat center;
}

.search::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/search.svg") no-repeat center;
}


.cart::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 18px;
  background: url("../img/cart.svg") no-repeat center;
}

.lovely-toys {

  height: 746px;
}

.lovely-toys-inner{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.lovely-toys__title {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}

.extended-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

}

.extended-block__item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.things-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.things-list__item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.things-list__item:nth-child(1) {
  background: #63D1BB;
}

.things-list__item:nth-child(1)::after {
  content: "";
  display: inline-block;
  width: 41px;
  height: 62px;
  background: url("../img/interior.svg") no-repeat center;
}

.things-list__item:nth-child(2) {
  background: #56C3B2;
}

.things-list__item:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 61px;
  background: url("../img/toy.svg") no-repeat center;
}

.lovely-toys::after {
  content: "";
  position: relative;
  top: -20px;
  display: block;
  width: auto;
  height: 34px;
  background: url("../img/wave.svg") no-repeat center;
}

.lovely-toys__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 53px;
  line-height: 57px;

}

.button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  background: #ffffff;
}

.button:hover {
  color: #ffffff;
  background: #444444;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}


@media (min-width: 768px) and (max-width: 1279px) {

}


@media (max-width: 767px) {

}