@use "../base/variables.scss" as *;

.footer {
  background-color: #f1f1f1;
}

.footer__wrapper {
  padding-bottom: 38px;
  max-width: 1150px;

  @media (min-width: $screen-tablet) {
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.footer__logo {
  display: none;

  &:hover::before {
    transition: 0.2s;
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 102px;
    height: 34px;
    mask-image: url("../images/sprite.svg#logo");
    background-color: #000000;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $screen-tablet) {
    display: block;
  }
}

.footer__list {
  padding: 28px 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  top: -2px;

  @media (min-width: $screen-tablet) {
    border-bottom: none;
    padding: 0;
  }
}

.footer__copyright-link {
  padding-top: 20px;
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    padding: 0;
  }
}
