<header class="header">
  <nav class="nav">
    <div class="nav__wrapper">
      <div class="nav__container"><a class="nav__logo main-logo" href="index.html">
        <picture>
          <source media="(min-width: 1150px)" srcset="images/brand/logo_header_desktop.svg" width="149" height="72">
          <source media="(min-width: 768px)" srcset="images/brand/logo_header_tablet.svg" width="113" height="46">
          <img class="main-logo__image" src="images/brand/logo_header_mobile.svg" width="86" height="35" alt="Перейти на главную">
        </picture>
      </a>
        <button type="button" class="nav__button nav__button--cross nav__button--burger nav__button--noscript" aria-label="Открыть меню"></button>
      </div>
      <div class="nav__list list nav__list--close nav__list--noscript nav-list">
        <div class="nav-list__secondary list-secondary">
          <div class="list-secondary__header">
            <a class="nav__link nav__link--catalog nav__link--secondary nav__link--top link" href="catalog.html">Каталог товаров</a>
            <a class="nav__link nav__link--order nav__link--secondary nav__link--top link" href="form.html">Вязание на заказ</a>
          </div>
          <div class="list-secondary__hero">
            <a class="nav__link nav__link--new nav__link--secondary nav__link--hero link" href="catalog.html">Новые поступления</a>
            <a class="nav__link nav__link--sale nav__link--secondary nav__link--hero link" href="catalog.html">Распродажа</a>
          </div>
        </div>
        <div class="nav-list__primary title">
          <a class="nav__link link nav__link--search nav-link" href="#">
            <span class="nav-link__description nav-link__description--search">Поиск по сайту</span>
          </a>
          <a class="nav__link link nav__link--cart nav-link" href="#">
            <span class="nav-link__description nav-link__description--cart">Корзина: пока пуста</span>
          </a>
        </div>
        <p class="nav__free-delivery title">Бесплатная доставка по России</p>
      </div>
    </div>
  </nav>
</header>
