@use "../base/variables.scss" as *;

.about-us-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: subgrid;
    gap: 25px 3.2vw;
  }

  @media (min-width: $screen-desktop) {
    column-gap: 3.45vw;
  }
}
