@use "../base/variables.scss" as *;

.catalog__wrapper {
  padding-bottom: 30px;

  @media (min-width: $screen-tablet) {
    padding-bottom: 53px;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 58px;
  }
}

.catalog__list {
  @media (min-width: $screen-tablet) {
    display: flex;
    flex-direction: column;
    gap: 54px;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    flex-flow: row wrap;
    gap: 51px;
  }
}

.catalog__item {
  padding-top: 29px;

  @media (min-width: $screen-tablet) {
    padding-top: 0;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 316px;
    position: relative;
  }
}
