@use "../base/variables.scss" as *;

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 29px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover::before {
    transition: 0.2s;
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #231f20;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &--vk::before {
    mask-image: url("../images/sprite.svg#vk");
  }

  &--telegram::before {
    mask-image: url("../images/sprite.svg#telegram");
  }

  &--youtube::before {
    mask-image: url("../images/sprite.svg#youtube");
  }

  &--github::before {
    mask-image: url("../images/sprite.svg#github");
  }
}
