<!DOCTYPE html>
{% set currentPage = 'catalog' %}
<html class="page" lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Мишка. Каталог</title>
  {% include 'templates/_head.html' %}
</head>
<body class="page__body">
<div class="page__container">
  {% include 'templates/_header.html' %}
  <main class="main">
    <h1 class="visually-hidden">Мишка - Каталог продукции.</h1>
    <section class="hero hero--catalog">
      <div class="hero__container hero__container--notindex hero__container--catalog">
        <h2 class="hero__title hero__title--form hero-title title">Каталог товаров</h2>
      </div>
    </section>
    <section class="catalog">
      <h2 class="visually-hidden">Каталог товаров</h2>
      <div class="catalog__wrapper wrapper">
        <ul class="catalog__list list">
          <li class="catalog__item catalog-item">
            <div class="catalog-item__wrapper">
              <a class="catalog-item__link link" href="#" tabindex="-1">
                <picture>
                  <source media="(min-width: 1150px)" type="image/webp"
                          srcset="images/catalog/photo_1_desktop.webp 1x, images/catalog/photo_1_desktop@2x.webp 2x" width="316" height="462">
                  <source media="(min-width:1150px)" type="image/jpg"
                          srcset="images/catalog/photo_1_desktop.jpg, images/catalog/photo_1_desktop@2x.jpg 2x" width="316" height="462">
                  <source media="(min-width: 768px)" type="image/webp"
                          srcset="images/catalog/photo_1_tablet.webp 1x, images/catalog/photo_1_tablet@2x.webp 2x" width="334" height="334">
                  <source media="(min-width: 768px)" type="image/jpg"
                          srcset="images/catalog/photo_1_tablet.jpg 1x, images/catalog/photo_1_tablet@2x.jpg 2x" width="334" height="334">
                  <source media="(min-width:320px)" type="image/webp"
                          srcset="images/catalog/photo_1_mobile.webp 1x, images/catalog/photo_1_mobile@2x.webp 2x" width="260" height="195">
                  <img class="catalog-item__image" loading="lazy" src="images/catalog/photo_1_mobile.jpg" srcset="images/catalog/photo_1_mobile@2x.jpg 2x" width="260" height="195" alt="Зайчик-попрыгайчик">
                </picture>
              </a>
              <div class="catalog-item__container catalog-description">
                <div class="catalog-description__container catalog-description__container--title">
                  <h3 class="catalog-item__title catalog-title title">
                    <a class="catalog-title__link link" href="#">Зайчик-попрыгайчик</a>
                  </h3>
                  <p class="catalog-item__description description">Рост 30 см, вес 200 г</p>
                </div>
                <div class="catalog-description__container catalog-description__container--cart">
                  <span class="catalog-item__price">1 200 руб.</span>
                  <a class="catalog-item__button cart-button link" href="#" aria-label="Добавить в корзину"><span
                    class="cart-button__icon"></span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="catalog__item catalog-item">
            <div class="catalog-item__wrapper">
              <a class="catalog-item__link link" href="#" tabindex="-1">
                <picture>
                  <source media="(min-width: 1150px)" type="image/webp"
                          srcset="images/catalog/photo_2_desktop.webp 1x, images/catalog/photo_2_desktop@2x.webp 2x"
                          width="316" height="462">
                  <source media="(min-width:1150px)" type="image/jpg"
                          srcset="images/catalog/photo_2_desktop.jpg, images/catalog/photo_2_desktop@2x.jpg 2x"
                          width="316" height="462">
                  <source media="(min-width: 768px)" type="image/webp"
                          srcset="images/catalog/photo_2_tablet.webp 1x, images/catalog/photo_2_tablet@2x.webp 2x"
                          width="334" height="334">
                  <source media="(min-width: 768px)" type="image/jpg"
                          srcset="images/catalog/photo_2_tablet.jpg 1x, images/catalog/photo_2_tablet@2x.jpg 2x"
                          width="334" height="334">
                  <source media="(min-width:320px)" type="image/webp"
                          srcset="images/catalog/photo_2_mobile.webp 1x, images/catalog/photo_2_mobile@2x.webp 2x"
                          width="260" height="195">
                  <img class="catalog-item__image" loading="lazy" src="images/catalog/photo_2_mobile.jpg" srcset="images/catalog/photo_2_mobile@2x.jpg 2x" width="260" height="195" alt="Корзинка для белья">
                </picture>
              </a>
              <div class="catalog-item__container catalog-description">
                <div class="catalog-description__container catalog-description__container--title">
                  <h3 class="catalog-item__title catalog-item__title--underwear catalog-title title">
                    <a class="catalog-title__link link" href="#">Корзинка для белья</a>
                  </h3>
                  <p class="catalog-item__description description">Диаметр 15 см, высота 10 см</p>
                </div>
                <div class="catalog-description__container catalog-description__container--cart">
                  <span class="catalog-item__price">690 руб.</span>
                  <a class="catalog-item__button cart-button link" href="#" aria-label="Добавить в корзину"><span
                    class="cart-button__icon"></span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="catalog__item catalog-item">
            <div class="catalog-item__wrapper">
              <a class="catalog-item__link link" href="#" tabindex="-1">
                <picture>
                  <source media="(min-width: 1150px)"
                          srcset="images/catalog/photo_3_desktop.webp 1x, images/catalog/photo_3_desktop@2x.webp 2x"
                          type="image/webp" width="316" height="462">
                  <source media="(min-width:1150px)"
                          srcset="images/catalog/photo_3_desktop.jpg, images/catalog/photo_3_desktop@2x.jpg 2x"
                          type="image/jpg" width="316" height="462">
                  <source media="(min-width: 768px)"
                          srcset="images/catalog/photo_3_tablet.webp 1x, images/catalog/photo_3_tablet@2x.webp 2x"
                          type="image/webp" width="334" height="334">
                  <source media="(min-width: 768px)"
                          srcset="images/catalog/photo_3_tablet.jpg 1x, images/catalog/photo_3_tablet@2x.jpg 2x"
                          type="image/jpg" width="334" height="334">
                  <source media="(min-width:320px)"
                          srcset="images/catalog/photo_3_mobile.webp 1x, images/catalog/photo_3_mobile@2x.webp 2x"
                          type="image/webp" width="260" height="195">
                  <img class="catalog-item__image" loading="lazy" src="images/catalog/photo_3_mobile.jpg" srcset="images/catalog/photo_3_mobile@2x.jpg 2x" width="260" height="195" alt="Большая корзинка для игрушек">
                </picture>
              </a>
              <div class="catalog-item__container catalog-description">
                <div class="catalog-description__container catalog-description__container--title">
                  <h3 class="catalog-item__title catalog-item__title--toyscart catalog-title title">
                    <a class="catalog-title__link link" href="#">Большая корзинка для игрушек</a>
                  </h3>
                  <p class="catalog-item__description description">Диаметр 30 см, высота 30 см</p>
                </div>
                <div class="catalog-description__container catalog-description__container--cart">
                  <span class="catalog-item__price">1 500 руб.</span>
                  <a class="catalog-item__button cart-button link" href="#" aria-label="Добавить в корзину"><span
                    class="cart-button__icon"></span></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="production">
      <div class="production__wrapper wrapper">
        <h2 class="production__title title">Процесс производства</h2>
        <div class="production__container production__container--video video">
          <picture class="video__picture">
            <source media="(min-width: 1150px)"
                    srcset="images/catalog/video_desktop.webp 1x, images/catalog/video_desktop@2x.webp 2x"
                    type="image/webp" width="683" height="455">
            <source media="(min-width:1150px)"
                    srcset="images/catalog/video_desktop.jpg, images/catalog/video_desktop@2x.jpg 2x"
                    type="image/jpg" width="683" height="455">
            <source media="(min-width: 768px)"
                    srcset="images/catalog/video_tablet.webp 1x, images/catalog/video_tablet@2x.webp 2x"
                    type="image/webp" width="668" height="455">
            <source media="(min-width: 768px)"
                    srcset="images/catalog/video_tablet.jpg 1x, images/catalog/video_tablet@2x.jpg 2x"
                    type="image/jpg" width="668" height="455">
            <source media="(min-width:320px)"
                    srcset="images/catalog/video_mobile.webp 1x, images/catalog/video_mobile@2x.webp 2x"
                    type="image/webp" width="260" height="150">
            <img class="video__image" loading="lazy" src="images/catalog/video_mobile.jpg" srcset="images/catalog/video_mobile@2x.jpg 2x" width="260" height="150" alt="Большая корзинка для игрушек">
          </picture>
          <button class="video__button" type="button" aria-label="Начать воспроизведение"></button>
        </div>
        <div class="production__container production__container--description">
          <span class="production__title production__title--tablet title">Процесс производства</span>
          <p class="production__description description">По просьбам наших любимых фолловеров мы сняли для вас
            подробное видео о&nbsp;том, как появляются наши товары.</p>
          <button class="production__button transparent-button"><span class="transparent-button__description">сделать
                заказ</span></button>
        </div>
      </div>
    </section>
  </main>
  {% include 'templates/_footer.html' %}
  {% include 'templates/_modal.html' %}
</div>
<script src="js/main.js"></script>
</body>
</html>
